body {
  color: #283E51;
  background: #4B79A1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #283E51, #4B79A1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.main {
  padding: 3rem;
  margin-bottom: 5rem;
}

img:hover {
  border: 3px solid #4B79A1;
}

.btn.outline {
 background: none;
 
}

.btn-primary.outline {
  border: 2px solid #4B79A1;
  color: #4B79A1;
}

.btn-primary.outline:hover, 
.btn-primary.outline:focus, 
.btn-primary.outline:active, 
.btn-primary.outline.active {
  color: #283E51;
  border-color: #283E51;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.resume {
  width: 100%;
  height: auto;
}

.nav-link {
  color: #4B79A1;
}

.nav-link:hover
 {
  color: #283E51;
}

/* ul li.active a {
  background: pink;
} */

/* .nav-link:active {
  color: pink;
  background: pink;
} */

.icon:hover {
  color: #283E51;
}

.icon{
margin: .5rem;
font-size: 1.5rem;
color: #4B79A1;
}

/* .copy:hover {
  color: #e600e6;
} */
.copy {
  font-size: .5rem;
  color: rgb(227,227,227);
}
 
